/*Used some of Waqas' code for styling elements and practices*/

@import url('https://fonts.googleapis.com/css?family=Muli');

.login-container {
    height: 75vh;
    width: 75vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1vw 30vw 1vw 1fr 1fr;
    grid-gap: 1vh;
    grid-template-areas:
            " . left-container . middle-container . right-container . "
            " . left-container . middle-container . right-container . "
            " . left-container . middle-container . right-container . "
    ;

    font-family: "Muli", sans-serif;
    font-weight: lighter;
    background-color: #f7faf8;
}

.left-container {
    grid-area: left-container;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.left-image {
    height: 20vh;
    padding: 0;

    /*margin-top: 31vh;*/
    /*margin-left: 1vh;*/
}

.middle-container {
    grid-area: middle-container;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /*display: grid;*/
    /*grid-template-rows: 21vh 10vh 14vh 10vh 10vh;*/
    /*padding-top: 10vh;*/
}

.login-logo {
    /*flex: 1;*/
    margin: -15vh 0 0 0;
    /*height: 10vh;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}


.login-title {
    /*flex: 1;*/
    font-weight: lighter;
    margin: 1vh auto 5vh;
    padding: 0;
    color: #4ac785;

}

.input {
    /*flex: 1;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.input label {

}

.input input {
    width: 15vw;
    height: 2vh;
    padding: 5px;
    margin: 1vh 0;
    text-align: center;
    outline: 0;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.input span {
    width: 22vw;
}

.input input:hover {
    box-shadow: 0 0 10px 0 #4ac785;
}

/*.input button {*/
/*    cursor: pointer;*/
/*    height: 30px;*/
/*    width: 50%;*/
/*    font-size: 0.85em;*/
/*    outline: 0;*/
/*    border: 0;*/
/*    resize: none;*/
/*    margin: 10px;*/
/*    padding: 5px;*/
/*    border-radius: 25px;*/
/*    color: #eeeeee;*/
/*    background: linear-gradient(to right, #4ac785, #1A7773);*/
/*}*/

.partner-input-check-container {
    float: right;
    position: absolute;
    margin: -5vh 0 0 10vw;
    transition: all 0.6s;
}

.invisible{
    opacity: 0;
}

/*.input button:hover{*/
/*    box-shadow: 0 0 10px 0 #4ac785;*/
/*}*/

.username {
    /*padding: 0 0 0 0;*/
    /*margin: auto auto auto auto;*/
}

.password {
    /*padding: 0 0 0 0;*/
    /*margin: auto auto auto auto;*/
}

.input-form {
    /*border-radius: 5px;*/
    /*border: 1px solid #1A7773;*/
}

.restaurant-login-button {
    cursor: pointer;
    height: 30px;
    width: 50%;
    font-size: 0.85em;
    outline: 0;
    border: 0;
    resize: none;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    color: #eeeeee;
    background: linear-gradient(to right, #4ac785, #1A7773);
    transition: all 0.3s;
}
.restaurant-login-button:hover {
    box-shadow: 0 0 10px 0 #4ac785;
}

.restaurant-login-button-disabled {
    cursor: default;
    height: 30px;
    width: 50%;
    font-size: 0.85em;
    outline: 0;
    border: 0;
    resize: none;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    color: #eeeeee;
    background: #888;
    transition: all 0.3s;
}


.footnote {
    /*display: grid;*/
    text-align: center;
    margin: 2vh 0 0 0;
}

.footnote-text {
    padding: 0 0 0 0;
    margin: auto;
}

.text-link {
    color: #4ac785;
    text-decoration: none;
}

.right-container {
    grid-area: right-container;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    /*height: 100vh;*/
}

.right-image {
    padding: 0;
    height: 22vh;
    /*margin-top: 25vh;*/
    /*margin-left: 3vh;*/
}

@media screen and (max-width: 1024px) {
    .login-container {
        min-height: 100%;
        min-width: 100%;
    }

    .right-image {
        height: 17%;
    }

    .left-image {
        height: 15%;
    }


}